@media screen and (max-width: 1440px) {
  .page-id-7 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .hero-section h1 {
    font-size: 4rem;
  }

  .hero-section h2 {
    font-size: 2.4rem;
    margin: 3em auto 1.5em auto;
  }

  .nav-links {
    gap: 1.5rem;
  }

  .nav-links a {
    font-size: 1.6rem;
  }

  .hero-layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin-bottom: 6em;
  }

  .logo-container {
    width: 200px;
    margin-bottom: 3em;
  }

  figcaption {
    font-size: 2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .page-id-10 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-id-46 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 2em auto 0 auto;
    gap: 0;
  }

  .login-username,
  .login-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-send-button {
    padding: 0.8em 1.6em;
    background-color: #005b0b;
    color: #f9f4f2;
    font-size: 1rem;
    border-radius: 12px;
  }

  .login-form-wrapper p {
    margin-bottom: 2em;
  }

  .page-id-46 nav {
    border-bottom: none;
  }

  .page-id-44 button[type="submit"] {
    width: 100%;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .hero-section h1 {
    font-size: 4rem;
    font-family: "Miama", serif;
  }

  .hero-section h2 {
    font-size: 2.4rem;
    margin: 3em auto 1.5em auto;
    font-family: "Miama", serif;
  }

  .nav-links {
    gap: 1.5rem;
  }

  .nav-links a {
    font-size: 1.6rem;
    font-family: "Linux Libertine", serif;
  }

  .hero-layout {
    gap: 1.5em;
    margin-bottom: 6em;
  }

  .logo-container {
    width: 200px;
    margin-bottom: 3em;
  }

  figcaption {
    font-size: 2rem;
    font-family: "Redressed", cursive;
  }

  figcaption:nth-child(2) {
    font-family: "GFS Bodoni Rg", serif;
  }

  .cta-button {
    font-family: "Linux Libertine", serif;
  }

  .mobile-nav-toggle {
    display: block;
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  .mobile-nav {
    width: 300px;
  }

  .mobile-nav-links a {
    font-size: 1.6rem;
    padding: 1.2rem 2rem;
    color: var(--yellow-3);
  }

  .mobile-nav-toggle {
    background-color: #005b0b;
  }

  .page-id-49,
  .page-id-7,
  .page-id-10,
  .page-id-44,
  .page-id-46,
  .nav-links li a {
    color: var(--yellow-3) !important;
  }

  .page-id-44 .contact-text {
    color: var(--text);
  }

  .page-id-44 form {
    max-width: 90%;
  }

  .page-id-7 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .collage {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  header {
    flex-direction: column;
    gap: 1rem;
  }

  .logo-container {
    width: 200px;
    margin-bottom: 2em;
  }

  figcaption {
    font-size: 1.8rem;
  }

  figcaption:nth-child(2) {
    font-size: 0.9rem;
  }

  nav {
    padding: 0.5rem 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .nav-links a {
    font-size: 1.4rem;
    padding: 0.8rem 1.5rem;
  }

  .hero-section {
    padding: 1rem;
  }

  .hero-text {
    width: 100%;
  }

  .hero-section h1 {
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 1.5em;
    padding: 0.3em 0.2em;
  }

  .hero-section h2 {
    font-size: 1.8rem;
    margin: 2em auto 1.5em auto;
    padding: 0.3em 0.4em;
  }

  .cta-button {
    font-size: 1.4rem;
    padding: 0.8em;
    margin: 1.5em auto;
    max-width: 300px;
  }

  .hero-layout {
    flex-direction: column;
    gap: 4em;
    margin-bottom: 4em;
  }

  .bg-video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .hero-text {
    margin-bottom: 8em;
  }

  .sticky-discount,
  .sticky-newsletter {
    width: 50%;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sticky-discount aside,
  .newsletter-aside {
    padding: 1em;
    margin: 0 1em;
  }

  .discount-link {
    font-size: 1rem;
    line-height: 1.4;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .newsletter-label {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
  }

  .newsletter-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }

  .newsletter-input {
    padding: 0.8rem;
    border: 2px solid var(--yellow-3);
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
  }

  .container {
    padding: 0 0.5rem;
  }

  .products-title {
    margin-top: 2em;
    text-align: center;
  }

  .our-history-title {
    margin-top: 2.5em;
    text-align: center;
  }

  .our-history-text {
    font-size: 1.3rem;
  }

  .product-desc {
    margin: 1em;
    padding: 0 0.6em 0.6em 0.6em;
    line-height: 1.2;
    font-size: 1.3rem;
  }

  .page-id-10 h2 {
    font-size: 1.6rem;
  }

  .logo-container {
    z-index: 0;
  }

  .contact-send-button {
    font-size: 1.4rem;
  }

  .contact-send-button,
  #custom-loginform input[type="submit"] {
    font-size: 1.4rem;
  }

  .signup-main {
    padding: 1rem 0.5rem;
  }

  .signup-card {
    padding: 2em 1.5em;
    margin: 4em 1em;
  }

  .signup-title {
    font-family: "Linux Libertine Bold";
    font-size: 1.8rem;
  }

  .signup-subtitle {
    font-size: 1rem;
  }

  .form-row {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .product-card img {
    width: 70%;
  }

  .product-desc {
    margin-bottom: 0;
  }

  .add-to-cart-btn {
    margin: 0;
  }

  .testimonials-slideshow {
    padding: 15px;
    margin: 20px auto;
  }

  .testimonial-text {
    font-size: 1.1em;
  }

  .testimonial-author {
    font-size: 0.9em;
  }

  .single-main {
    padding: 1rem;
  }

  .single .single-article {
    margin: 0 0 2rem 0;
    border-radius: 16px;
  }

  .article-header,
  .article-image-container,
  .single .single-article-content,
  .article-footer {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .article-header {
    padding-top: 2rem;
    padding-bottom: 1.5em;
  }

  .single .single-article-content {
    padding-bottom: 2em;
    font-size: 1.05em;
  }

  .article-meta {
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
  }

  .login-main {
    padding: 1rem 0.5rem;
  }

  .login-card {
    padding: 2em 1.5em;
    margin: 4em 1em;
  }

  .login-subtitle {
    font-size: 1rem;
  }

  .coffee-beans {
    display: none;
  }

  body {
    font-size: 0.9rem;
    font-family: "Linux Libertine", serif;
  }

  header {
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }

  .mobile-nav-toggle {
    display: block;
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  .mobile-nav {
    width: 250px;
  }

  .mobile-nav-links a {
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
  }

  .hero-section {
    padding: 1rem;
  }

  .hero-text {
    width: 100%;
  }

  .hero-section h1 {
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 1.5em;
    padding: 0.3em 0.2em;
    font-family: "Miama", serif;
  }

  .hero-section h2 {
    font-size: 2rem;
    margin: 2em auto 1.5em auto;
    padding: 0.3em 0.4em;
    font-family: "Miama", serif;
  }

  .cta-button {
    font-size: 1.3rem;
    padding: 0.4em 0.8em;
    margin: 1.5em auto;
    max-width: 300px;
    font-family: "Linux Libertine";
  }

  .hero-layout {
    flex-direction: column;
    gap: 4em;
    margin-bottom: 4em;
  }

  .bg-video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .sticky-discount,
  .sticky-newsletter {
    position: static;
    width: 100%;
    margin-bottom: 1em;
  }

  .sticky-discount aside,
  .newsletter-aside {
    padding: 1em;
    border-radius: 8px;
    margin: 0 1em;
    margin-bottom: 4em;
  }

  .discount-link {
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: "Linux Libertine", serif;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .newsletter-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }

  .newsletter-input {
    padding: 0.8rem;
    border: 2px solid var(--yellow-3);
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    font-family: "Linux Libertine", serif;
  }

  .logo-container {
    width: 200px;
    margin-bottom: 2em;
  }

  figcaption {
    font-size: 1.8rem;
    font-family: "Redressed", cursive;
  }

  figcaption:nth-child(2) {
    font-size: 0.9rem;
    font-family: "GFS Bodoni Rg", serif;
  }

  .logo-container-no-background {
    width: 190px;
  }

  .logo-container-no-background figcaption:last-child {
    font-size: 0.8rem;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .footer-links li a {
    font-size: 1.1rem;
  }

  .socials a img {
    width: 40px;
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .nav-overlay.active {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 480px) {
  .hero-section h1 {
    font-size: 2.2rem;
  }

  .hero-section h2 {
    font-size: 1.5rem;
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  .cta-button {
    font-size: 1.2rem;
    padding: 0.7em;
  }

  .logo-container {
    width: 160px;
  }

  figcaption {
    font-size: 1.5rem;
  }

  .newsletter-form {
    margin-bottom: 8em;
  }

  .newsletter-aside {
    gap: 0.6rem;
  }

  .sticky-discount aside,
  .newsletter-aside {
    margin: 0 0.5rem;
    padding: 0.8rem;
  }

  .socials {
    margin: 0;
    max-width: 100%;
  }

  .footer-links {
    display: none;
  }

  .footer-nav {
    display: none;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }

  .page-id-7 .our-history-title {
    text-align: center;
  }

  .page-id-7 .our-history-text {
    margin: 0;
    margin-bottom: 2em;
  }

  .collage {
    display: none;
  }

  .page-id-10 main {
    margin-top: 0;
    grid-template-columns: 1fr;
  }

  #basket-icon img {
    width: 24px;
    height: 24px;
    color: var(--yellow-2);
  }

  #basket-count {
    padding: 0.2em 0.6em;
    margin-left: 0.5em;
    margin-top: 0.2em;
    font-size: 1rem;
  }

  .top-bar-menu-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #basket-list {
    color: var(--text);
  }

  .single .single-article {
    border: 1px solid #005b0b;
  }

  .single .single-article-title {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: var(--text);
    text-align: left;
    padding: 0.2em;
  }

  .postid-17,
  .postid-15,
  .postid-13 main {
    width: 100%;
    max-width: 100%;
  }

  .postid-17 .postid-15,
  .postid-13 .single-article {
    width: 100%;
    max-width: 90%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 8em;
  }

  .single-article p {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem !important;
    margin-bottom: 4em;
  }

  .page-id-44 .contact-text {
    color: var(--text);
    font-size: 1.6rem;
  }

  .wp-block-image img {
    margin-bottom: 4em;
  }

  .products-title {
    text-align: center;
  }

  .footer-top {
    flex-direction: column;
  }

  .user-welcome {
    display: block;
    border-radius: 12px;
    border: 1px solid var(--yellow-2);
  }

  .signup-card {
    padding: 1.5rem 1rem;
    border-radius: 15px;
  }

  .signup-title {
    font-size: 1.6rem;
  }

  .checkbox-label {
    font-size: 0.9rem;
  }

  .terms-text {
    font-size: 0.8rem;
  }

  .form-group label:last-child {
    display: flex;
    flex-direction: column-reverse;
  }

  .article-header,
  .article-image-container,
  .single .single-article-content,
  .article-footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .add-to-cart-btn {
    margin: 0;
    font-size: 1.3rem;
  }

  #basket-icon {
    padding: 0.4em;
    border: 1px solid var(--yellow-2);
  }

  #basket-count {
    background: var(--yellow-2);
    color: var(--text);
  }

  .login-card {
    padding: 1.5rem 1rem;
    border-radius: 15px;
  }

  .login-title {
    font-size: 1.6rem;
  }

  .product-desc {
    margin-bottom: 0;
  }

  .hero-section h1 {
    font-size: 2.2rem;
    font-family: "Miama", serif;
  }

  .hero-section h2 {
    font-size: 1.5rem;
    font-family: "Miama", serif;
  }

  .nav-links {
    width: 100%;
    right: -100%;
  }

  .nav-links a {
    font-size: 1.2rem;
    font-family: "Linux Libertine", serif;
  }

  .mobile-nav {
    width: 100%;
  }

  .mobile-nav-links a {
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
  }

  .cta-button {
    font-size: 1.2rem;
    padding: 0.7em;
    font-family: "Linux Libertine", serif;
  }

  .logo-container {
    width: 200px;
  }

  figcaption {
    font-size: 1.5rem;
    font-family: "Redressed", cursive;
  }

  figcaption:nth-child(2) {
    font-family: "GFS Bodoni Rg", serif;
  }

  .newsletter-fields {
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
  }

  .sticky-discount aside,
  .newsletter-aside {
    margin: 0 0.5rem;
    padding: 0.8rem;
  }

  .page-id-10 h2 {
    font-size: 1.6rem;
  }

  #basket-modal h3 {
    color: var(--text);
  }

  #basket-total {
    color: var(--text);
  }

  .our-history-text {
    font-size: 1.4rem;
  }

  #product-search {
    width: 80%;
  }

  .single .single-article-title {
    text-align: center;
  }

  .header-top {
    position: absolute;
  }

  .logo-container {
    z-index: 0;
  }

  .hero-layout {
    z-index: 0;
  }

  .mobile-nav-toggle {
    border: 1px solid var(--yellow-2);
  }

  :root {
    --top-bar-height: 64px;
  }

  .top-bar {
    background: linear-gradient(180deg, #005b0b, #013106);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--top-bar-height);
    z-index: 13200;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  }

  body {
    padding-top: var(--top-bar-height);
  }

  header > .header-nav {
    margin-top: 0;
  }

  #guest-checkout-form button {
    width: 80%;
  }
}
